/* Import all of Bootstrap's CSS */
@import "~bootstrap/scss/bootstrap";

:root {
    --primary-color: #FAF1CF;
    --secondary-color: #3F6844;
    --contrast-color: #5DAA68;
    --img-size: clamp(300px, 15vw, 20vw);
    --sub-title-font-size: clamp(1.3rem, 3vw, 2rem);
    --text-font-size: clamp(1rem, 2vw, 1.2rem);
    --headline-font-size: clamp(2rem, 2.2vw, 2.5rem);
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    font-size: var(--text-font-size);
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: 'Shantell Sans', cursive, sans-serif;
}

#content {
    display: grid;
    grid-template-rows: 1fr auto auto;
    min-height: 100vh;
    background-image: url(images/pho.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: var(--secondary-color);
}

/* Nav-bar */
.navbar {
    background-color: var(--secondary-color);
    opacity: 0.9;
}

/* #navbarNav ul li {
    position: relative;
    font-weight: bold;
} */

/* #navbarNav ul{ */
    /* position: absolute; */
/* } */

.navbar-brand {
    max-width: 150px;
    max-height: 150px;
}

a.navbar-brand, .nav-item > a {
    color: var(--primary-color);
}

.nav-item {
    cursor: pointer;
}

.navbar-toggler-icon-custom {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(images/hamburger-menu.png);
}

.navbar-toggler-icon-custom-close { background-image: url(images/close.svg); }

main .social-icon {
    width: 75px;
    height: 75px;
}

.headline {
    padding-top: 25vh;
    color: var(--primary-color);
    font-size: var(--headline-font-size);
}

@media only screen and (max-device-width: 480px) {
    html {
        height: calc(100% + 60px);
        min-height: calc(100% + 60px);
    }

    /* Headline positioning for smaller screens */
    .headline {
        padding-top: 15vh;
    }
}

/* Description Section */
.desc-container {
    background-color: var(--primary-color);
    opacity: 0.9;
}

.desc {
    max-width: 75ch;
}

.about-title {
    font-size: var(--sub-title-font-size);
}

/* Gallery section */
.gallery {
    background-color: var(--primary-color);
    opacity: 0.9;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, var(--img-size));
    justify-content: center; */
}

.dish-img {
    height: var(--img-size);
    width: var(--img-size);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Gallery images */
.img-0 { background-image: url(images/bbh.jpg); }
.img-1 { background-image: url(images/padthai.jpg); }
.img-2 { background-image: url(images/coldrolls.jpg); }
.img-3 { background-image: url(images/friedrice.jpg); }
.img-4 { background-image: url(images/chicken.jpg); }
.img-5 { background-image: url(images/laksa.jpg); }

/* Menu */
.menu {
    font-size: var(--text-font-size);
}

.menu-title {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.menu-sub-title {
    font-size: var(--sub-title-font-size);
}

.menu {
    background-color: var(--primary-color);
    /* opacity: 0.9; */
    width: 70vw;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-pills {
    background-color: var(--contrast-color);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* Footer Styling */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.footer-info p {
    margin: 0;
}

.map-responsive, .map-responsive iframe{
    width: min(1000px, 100%);
}