// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

// @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --background: #FAF1CF;
    --font-color: #3F6844;
    --contrast: #5DAA68;
    --img-size: clamp(300px, 15vw, 20vw);
    --sub-title: clamp(1.3rem, 3vw, 2rem);
    --text-font-size: clamp(1rem, 2vw, 1.2rem);
    --headline-font-size: clamp(2rem, 2.2vw, 2.5rem);
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: var(--text-font-size);
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Shantell Sans', cursive, sans-serif;
}

#content {
    display: grid;
    grid-template-rows: 1fr auto auto;
    min-height: 100%;
    background-image: url(images/pho.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: var(--font-color);
}

// Nav-bar
#navbarNav ul li {
    // position: relative;
    font-weight: bold;
}

// #navbarNav ul{
//     position: absolute;
// }

.navbar-brand {
    max-width: 150px;
    max-height: 150px;
}

a.navbar-brand, .nav-item > a {
    color: var(--background);
}

.nav-item {
    cursor: pointer;
}

.navbar-toggler-icon-custom {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url(images/hamburger-menu.png);
}

.navbar-toggler-icon-custom-close {
    background-image: url(images/close.svg);
}

main {
    min-height: 100vh;
    padding: 24px;
}

main .social-icon {
    justify-content: center;
    width: 75px;
    height: 75px;
    margin: auto;
}

.headline {
    padding-top: 25vh;
    color: var(--background);
    font-weight: bold;
    font-size: var(--headline-font-size);
    text-align: center;
}

// Description Section
.desc-container {
    background-color: var(--background);
    opacity: 0.9;
    padding: 24px 0;
    text-align: center;
}

.desc {
    padding: 18px;
}

.about-title {
    font-size: var(--sub-title);
    font-weight: bold;
}

// Gallery section
.gallery {
    background-color: var(--background);
    opacity: 0.9;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--img-size));
    justify-content: center;
    padding-bottom: 24px;
}

.dish-img {
    height: var(--img-size);
    width: var(--img-size);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// Gallery images
.img-0 {
    background-image: url(images/bbh.jpg);
}

.img-1 {
    background-image: url(images/padthai.jpg);
}

.img-2 {
    background-image: url(images/coldrolls.jpg);
}

.img-3 {
    background-image: url(images/friedrice.jpg);
}

.img-4 {
    background-image: url(images/chicken.jpg);
}

.img-5 {
    background-image: url(images/laksa.jpg);
}

// Menu
.menu {
    font-size: var(--text-font-size);
}

.menu-title {
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    font-weight: bold;
}

.menu-sub-title {
    font-size: var(--sub-title);
    font-weight: 500;
}

.menu {
    background-color: var(--background);
    opacity: 0.9;
    min-height: 100vh;
    width: 70vw;
}

.menu-item-name {
    font-weight: bold;
}

.menu-item-price {
    float: right;
    padding-left: 8px;
    font-weight: bold;
}

// Footer Styling
footer {
    background-color: var(--font-color);
    color: var(--background);
}

.footer-info {
    padding: 36px 18px;
}

.footer-info p {
    margin: 0;
}

.social {
    margin-bottom: 12px;
}

.social-icon {
    display: flex;
}

@media only screen and (max-device-width: 480px) {
    html {
        height: calc(100% + 60px);
        min-height: calc(100% + 60px);
    }

    // Headline positioning for smaller screens
    .headline {
        padding-top: 15vh;
    }
}